@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
  --main-color: rgb(101, 91, 83);
  --max-width: 1200px;
}
body {
  font-family: "Marcellus", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 4px solid red !important; */
}

body {
  min-height: 100vh;
  font-family: "Marcellus", serif;
  background-image: url("src/bblue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.head {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

nav {
  padding: 2rem 1rem;
  overflow: hidden;

}

.navigations {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.navigations > div li:not(:first-child) {
  display: none;
}


.navigations a {
  position: relative;
  isolation: isolate;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.navigations a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.3s;
}

.navigations a:hover::before {
  width: 100%;
}
.menuButton {
  display: none;
}

@media (width > 800px) {
  .navigations > div li:not(:first-child) {
    display: block;
  }
  .navigations > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  } 
  .menu-button{
    display: none;
  }
}

@media (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
}


@media (max-width: 800px) {
  .sidebar{
    width: 100%;
  }
  .menu-button{
    display: block;
  }
}


.section_part {
  flex: 1;
  width: 100%;
  max-width: var(--max-width);
  position:relative;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_part h2 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
}

.section_part h1 {
  margin-bottom: 10rem;
  font-size: 9rem;
  font-weight: 500;
  color: white;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke: 2.5px rgba(111, 111, 111, 0.629);
  -webkit-text-stroke-width: 2.5px;
  text-shadow:rgb(222, 222, 215) 6px 0px;
}



.section_part button {
  font-family: "Marcellus", serif;
  font-size: 2.5rem;
  text-align:center;
  gap: 1rem;
  max-width: fit-content;
  border: none;
  border-style: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(253, 254, 255, 0.547);
  margin-block: 10 rem;
  margin: auto; 
  color: rgba(255, 255, 255, 0.967);
  border-color: white;
}
.section_part button {
  position:relative;
  -webkit-text-fill-color: rgb(111, 111, 111);
}
.section_part button{
  box-shadow: 0 0 0px white,
  0 0 2px white;
}

.section_part button:hover {
  box-shadow: 0 0 15px white,
  0 0 25px white,
  0 0 50px white,
  0 0 100px white,
  0 0 200px white;
}
/* //////
sidebar
///////
/////// */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: rgba(72, 83, 110, 0.498);
  backdrop-filter: blur(10px);
  box-shadow: -10xp 0 10px black;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;


}

.sidebar a {
  position: relative;
  isolation: isolate;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  width: 100%;
}

.sidebar li {
  line-height: 1.8rem;
  width: 100%;
  margin-left: 1rem;
} 

.sidebar a:hover{
  color: rgba(0, 0, 0, 0.795);
  transition: 0.2s;
}