@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
  --main-color: rgb(101, 91, 83);
  --max-width: 1200px;
}
body {
  font-family: "Marcellus", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* try to use other boxes later */
}

body {
  min-height: 100vh;
  font-family: "Marcellus", serif;
  background-image: url("src/blue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.head {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* try row */
  max-width: 100%;
  /* if breaks put "var(--max-width)" */
  margin: auto;
}

nav {
  padding: 2rem 1rem;
  overflow: hidden;

}

.navigations {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* background: rgba(255, 255, 255, 0.564);
  padding-right: 15px;
  padding-left: 15px; 
  padding-top: 10; */
}

.navigations > div li:not(:first-child) {
  display: none;
}


.navigations a {
  position: relative;
  isolation: isolate;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.navigations a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.3s;
}

.navigations a:hover::before {
  width: 100%;
}

@media (width > 700px) {
  .navigations > div li:not(:first-child) {
    display: block;
  }
  .navigations > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  } 

  .section_part h2 {
    font-size: 3.5rem;
  }
  .section_part h1 {
    font-size: 9rem;
  }
}

@media (width > 500) {
  .navigations h2 {
    font-size: 2rem;
  }
  .navigations h1 {
    font-size: 6rem;
  }
}

.section_part {
  flex: 1;
  width: 100%;
  position: relative;
  isolation: isolate;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
}

.section_part h2 {
  margin-bottom: 0rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
}
.section_part h1 {
  margin-bottom: 10rem;
  font-size: 9rem;
  font-weight: 500;
  color: white;
}

.section_part h1 {
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke: 2.5px rgb(255, 255, 255);
}

.section_part button{
  box-shadow: 0 0 0px white,
  0 0 25px white;
  font-family: "Marcellus", serif;
  font-size: 2.5rem;
  text-align: center;
  height: 3rem;
  width: 15rem;
  /* max-width: fit-content; */
  border: none;
  border-style: none;
  cursor: pointer;
  border-radius: 50px;
  display:flexbox;
  background-color: #fdfeff7f;
  outline: none
}

.section_part button {
  position: relative;
  bottom: 10rem;
  left: 34rem
  justify-content: ;
}
.section_part button {
  margin:left; 
  color: rgba(255, 255, 255, 0.945);
  border-color: white;
}

.section_part button:hover {
  box-shadow: 0 0 15px white,
  0 0 25px white,
  0 0 50px white,
  0 0 100px white,
  0 0 200px white;
}